<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0" *ngIf="mode==1">Detalle</h3>
          <h3 class="mb-0" *ngIf="mode==2">Crear</h3>
          <h3 class="mb-0" *ngIf="mode==3">Actualizar</h3>
        </div>
        <div class="card-body">
          <form class="form" [formGroup]="theFormGroup">
            <div class="card-body container">
              <div class="row">
                <div class="col-3">ID</div>
                <div class="col-9">
                  <input type="text" class="form-control" formControlName="id" disabled >
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-3">Usuario</div>
                <div class="col-9">
                  <select class="form-control" formControlName="user" >
                    <option value="">Seleccione un usuario</option>
                    <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
                  </select>
                  <div *ngIf="getTheFormGroup.user.errors && (getTheFormGroup.user.dirty || getTheFormGroup.user.touched || trySend)">
                    <strong *ngIf="getTheFormGroup.user.errors.required" class="msnError">Requerido</strong>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-3">Rol</div>
                <div class="col-9">
                  <select class="form-control" formControlName="role" >
                    <option value="">Seleccione un rol</option>
                    <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
                  </select>
                  <div *ngIf="getTheFormGroup.role.errors && (getTheFormGroup.role.dirty || getTheFormGroup.touched || trySend)">
                    <strong *ngIf="getTheFormGroup.role.errors.required" class="msnError">Requerido</strong>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-3"></div>
                <div class="col-9">
                  <button type="button" class="btn btn-primary btn-block" (click)="back()">Regresar</button>
                  <button type="button" class="btn btn-success btn-block" (click)="create()"
                          *ngIf="mode==2">Crear</button>
                  <button type="button" class="btn btn-warning btn-block" (click)="update()"
                          *ngIf="mode==3">Actualizar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
