<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Perfiles</h3>
          <button class="btn btn-success btn-sm" (click)="create()" title="Agregar">
            <i class="material-icons">add</i>
          </button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <td>Id</td>
                <td>Usuario</td>
                <td>Phone</td>
                <td>Photo</td>
                <td>Acciones</td>
              </tr>
              <tr *ngFor="let profile of profiles">
                <td>{{profile.id}}</td>
                <td>{{getUserName(profile.user) }}</td>
                <td>{{profile.phone}}</td>
                <td>
                  <img *ngIf="profile.photo"
                       [src]="profile.photo"
                       alt="Foto" width="40" height="40"
                       class="rounded-circle" />
                  <span *ngIf="!profile.photo" class="text-muted">Sin foto</span>
                </td>
                <td>
                  <button class="btn btn-info btn-sm" (click)="view(profile.id)" title="Ver">
                    <i class="material-icons">visibility</i>
                  </button>
                  <button class="btn btn-warning btn-sm" (click)="edit(profile.id)" title="Editar">
                    <i class="material-icons">edit</i>
                  </button>
                  <button class="btn btn-danger btn-sm" (click)="delete(profile.id)" title="Elminar">
                    <i class="material-icons">delete</i>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
